@mixin gradient-header($one, $two, $three, $reverse: false) {
  display: inline-block;

  color: $two !important;

  background-image: linear-gradient(45deg, $one, $two 50%, $three);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;

  @if $reverse {
    background-image: linear-gradient(45deg, $three, $two 50%, $one);
  }
}

@mixin font-size($size) {
  font-size: $size !important;
  line-height: $size * 1.25 !important;
}
